ul {
    display: flex;
    width: 80vw;
    justify-content: space-around;
    background: rgba(0,0,0,0.1);
    padding: 15px 5px;
}
li {
    list-style: none;
}
a{
    text-decoration: none;
    color: #222;
}
a:hover {
    font-weight: 900;
}